/* Importation de la police de caractères */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* Utilisation de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles de base */
:root {
  background-color: #FFFFFF !important;
  color: #012737 !important;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 20px;
  word-spacing: 2px;
  margin: 0;
  font-weight: 400;
}

/* Bouton primaire */
.btn_primary {
  color: #FFFFFF !important;
  background-color: #79CE25 !important;
}

/* Mode sombre */
body.dark {
  background-color: #012737 !important;
  color: #FFFFFF !important;
}



.dark {
  --couleur-fond-nav: #012737 !important;
}


.ph_footer .mx-auto {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  font-family: 'Poppins', sans-serif;
}

.cky-consent-container {
  font-family: "Open Sans", sans-serif;
}

.cky-classic-bottom {
  bottom: 0;
  left: 0;
}

.cky-consent-container {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 9999999;
}

.cky-consent-container .cky-consent-bar {
  background: #fff;
  border: 1px solid;
  padding: 16.5px 24px;
  box-shadow: 0 -1px 10px 0 #acabab4d;
}

.cky-notice .cky-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 10px 0;
  overflow-wrap: break-word;
  color: #012737;
}

element {
  color: #79CE25;
  border-color: #79CE25;
  background-color: transparent;
}

.cky-notice-btn-wrapper .cky-btn {
  text-shadow: none;
  box-shadow: none;
}


.cky-btn {
  border-radius: 8px;
}

.cky-btn-customize {
  color: #1863dc;
  background: transparent;
  border: 2px solid;
  border-color: #1863dc;
  padding: 8px 28px 8px 14px;
  position: relative;
}

.cky-btn {
  font-size: 14px;
  font-family: inherit;
  line-height: 24px;
  padding: 8px 27px;
  font-weight: 500;
  margin: 0 8px 0 0;
  border-radius: 2px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  text-transform: none;
  min-height: 0;
}


.ph_footer .item_copyright {
  display: grid;
  grid-template-columns: 1.5fr .5fr;
  column-gap: 150px;
}

.ph_footer .item_copyright {
  grid-area: item_copyright;
}

.ph_link {
  color: #79CE25;
  font-style: normal;
  font-weight: bold;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
}










h1 {
  @apply text-[44px] leading-[56px] mt-0 mb-4 mx-0;
  word-spacing: 7px;
}

.bold {
  @apply font-bold;
}

@media (max-width: 500px) {
  h1 {
    @apply font-[normal];
  }
}

*:before,
*:after {
  @apply box-border;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.cky-btn:last-child {
  margin-right: 0;
}


/* styles.css */
.btn_primary {
  border: 0;
  padding: 12px 24px;
  /* Valeur de padding unifiée */
  font-size: 14px;
  border-radius: 8px;
  /* Valeur de border-radius unifiée */
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;

}





.btn_primary:hover {
  background-color: #6BB020;
  /* Adjust hover color if needed */
}



.text-custom {
  color: #79CE25;
}




.theme-switcher_root__LFmWp {
  padding: 1px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  border-radius: 999px;



}



.theme-switcher_switch__2Swty {
  width: 22px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  border: 0;

}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;

}

[role=button],
button {
  cursor: pointer;
}

.with-icon_icon__MHUeb {
  width: var(--geist-icon-size);
  height: var(--geist-icon-size);
  flex-shrink: 0;
  display: inline;
}


/*! CSS Used from: Embedded */
.paragraph2 {
  font-size: 16px;
  line-height: 22px;
  word-spacing: 2px;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #012737;
  text-decoration: none;
  box-sizing: border-box;
}

p {
  margin: 16px 0 0;
}

.btn_basic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
}

.btn_primary {
  color: #FFFFFF;
  background-color: #79CE25;
  border: 0;
}

.btn_primary:hover {
  background-color: #70BF22;
}

.btn_primary:focus,
.btn_primary:active {
  background-color: #5C9E1A;
}

.ph_center {
  text-align: center;
}







@media (min-width:901px) {
  .grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
  }
}

.ph_spacer {
  padding: 40px 0;
}

@media (prefers-color-scheme:dark) {
  [data-domain="default"] body a:hover {
    color: #79CE25 !important;
  }

  [data-domain="default"] a.btn_primary:hover,
  [data-domain="default"] a.btn_primary:focus {
    color: #FFFFFF !important;
  }
}

/*! CSS Used from: https://www.planhub.ca/css/compiled/planhub2021-162.7.css ; media=all */


.glyphicon-bell:before {
  content: "\e123";
}

.layout-alert {
  background: #f1ffe2;
  padding-top: 15px;
  margin-top: 30px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, .25);
  border-radius: 6px;
  padding-bottom: 20px;
}

.wide-padded {
  width: 75%;
  padding-bottom: 20px;
}

.container-btn-a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
}

.ph-internet-alert .responsive-img {
  width: 71px;
  height: 165px;
}

@media only screen and (max-width:600px) {
  .ph-internet-alert .responsive-img {
    width: 50px;
    height: 115px;
  }
}

@media only screen and (max-width:480px) {
  .ph-internet-alert .responsive-img {
    width: 38px;
    height: 85px;
  }
}

.ph-internet-alert .arrow {
  width: 38px;
}

@media (prefers-color-scheme:dark) {
  .ph-internet-alert .ph_container__child .paragraph2 {
    color: #000;
  }
}

.layout-alert {
  background: #f1ffe2;
  padding-top: 15px;
  margin-top: 30px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, .25);
  border-radius: 6px;
  padding-bottom: 20px;
}

.wide-padded {
  width: 75%;
  padding-bottom: 20px;
}

.container-btn-a {
  display: flex;
  justify-content: center;
  align-items: center;
}




/*! CSS Used from: Embedded */
.paragraph2 {
  font-size: 16px;
  line-height: 22px;
  word-spacing: 2px;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #012737;
  text-decoration: none;
  box-sizing: border-box;
}

p {
  margin: 16px 0 0;
}

.btn_basic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
}

.btn_primary {
  color: #FFFFFF;
  background-color: #79CE25;
  border: 0;
}

.btn_primary:hover {
  background-color: #70BF22;
}

.btn_primary:focus,
.btn_primary:active {
  background-color: #5C9E1A;
}

.ph_center {
  text-align: center;
}






@media (min-width:901px) {
  .grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
  }
}

.ph_spacer {
  padding: 40px 0;
}

@media (prefers-color-scheme:dark) {
  [data-domain="default"] body a:hover {
    color: #79CE25 !important;
  }

  [data-domain="default"] a.btn_primary:hover,
  [data-domain="default"] a.btn_primary:focus {
    color: #FFFFFF !important;
  }
}



.glyphicon-bell:before {
  content: "\e123";
}

.layout-alert {
  background: #f1ffe2;
  padding-top: 15px;
  margin-top: 30px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, .25);
  border-radius: 6px;
  padding-bottom: 20px;
}

.wide-padded {
  width: 75%;
  padding-bottom: 20px;
}

.container-btn-a {
  display: flex;
  justify-content: center;
  align-items: center;
}



.ph-internet-alert .responsive-img {
  width: 71px;
  height: 165px;
}

@media only screen and (max-width:600px) {
  .ph-internet-alert .responsive-img {
    width: 50px;
    height: 115px;
  }
}

@media only screen and (max-width:480px) {
  .ph-internet-alert .responsive-img {
    width: 38px;
    height: 85px;
  }
}

.ph-internet-alert .arrow {
  width: 38px;
}

@media (prefers-color-scheme:dark) {
  .ph-internet-alert .ph_container__child .paragraph2 {
    color: #000;
  }
}

.layout-alert {
  background: #f1ffe2;
  padding-top: 15px;
  margin-top: 30px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, .25);
  border-radius: 6px;
  padding-bottom: 20px;
}

.wide-padded {
  width: 75%;
  padding-bottom: 20px;
}

.container-btn-a {
  display: flex;
  justify-content: center;
  align-items: center;
}




/*! CSS Used from: Embedded */
h3,
.heading3 {
  font-size: 22px;
  line-height: 30px;
  word-spacing: 3px;
  margin: 0 0 16px;
}

.heading4 {
  font-size: 18px;
  line-height: 24px;
  word-spacing: 2px;
  margin: 0 0 16px;
}

.heading6 {
  font-size: 13px;
  line-height: 17px;
  word-spacing: 2px;
  margin: 0 0 16px;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

.paragraph3 {
  font-size: 14px;
  line-height: 20px;
  word-spacing: 2px;
}

@media (max-width:500px) {

  .heading3,
  .heading4 {
    font-size: 16px;
    line-height: 22px;
    word-spacing: 2px;
  }
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #012737;
  text-decoration: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

p {
  margin: 16px 0 0;
}

figure {
  margin: 0;
}

button,
select {
  font-size: 14px;
  padding: 0;
}

.btn,
.btn_basic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
}

.btn_primary {
  color: #FFFFFF;
  background-color: #79CE25;
  border: 0;
}

.btn_primary:hover {
  background-color: #70BF22;
}

.btn_primary:focus,
.btn_primary:active {
  background-color: #5C9E1A;
}

.btn-primary {
  background-color: #f05153;
  color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #D8484A;
}

.ph_link {
  color: #79CE25;
  font-style: normal;
  font-weight: bold;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
}

.ph_link:hover {
  color: #70BF22;
}

.ph_link:focus,
.ph_link:active {
  color: #5C9E1A;
}

.view-offer-btn:not(.btn-view-offer-arrow) {
  border-style: hidden !important;
}

.view-offer-btn:not(.btn-view-offer-arrow):focus,
.view-offer-btn:not(.btn-view-offer-arrow):active {
  background-color: #5C9E1A !important;
  outline: none !important;
}

.ph_bg__hero_gray {
  background-color: #F6F6F9 !important;
}

.ph_bg__hero_green {
  background-color: #F1FFE2;
}

.subtitle {
  color: #6B7980;
}

.ph_center {
  text-align: center;
}

[class^="ph-icon-"],
[class*=" ph-icon-"] {
  font-family: 'icons-planhub' !important;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.ph-icon-long_right:before {
  content: "\e90f";
  font-size: 1.2rem;
}

.ph-icon-tag-outline:before {
  content: "\e915";
}

.ph-icon-speed:before {
  content: "\e91a";
}

.ph-icon-phone:before {
  content: "\e91b";
}

.ph-icon-location:before {
  content: "\e91c";
}

.ph-icon-bar_chart:before {
  content: "\e91d";
}



.ph_container__child {
  padding: 0 120px;
}

@media (max-width:1200px) {
  .ph_container__child {
    padding: 0 64px;
  }
}

@media (max-width:768px) {
  .ph_container__child {
    padding: 0 16px;
  }
}

.ph_flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.ph_spacer__bottom_md {
  padding-bottom: 20px;
}

.ph_h_inner_spacer {
  padding: 0 15px;
}

.text_align__right {
  text-align: right;
}

@media (prefers-color-scheme:dark) {
  [data-domain="default"] body .subtitle {
    color: #FFFFFF !important;
  }

  [data-domain="default"] body a:hover {
    color: #79CE25 !important;
  }

  [data-domain="default"] .provider_logo_item img {
    background-color: #FFFFFF !important;
    padding: 2px;
    border-radius: 4px;
  }

  [data-domain="default"] .ph_reviews__score,
  [data-domain="default"] .ph_reviews__score a {
    color: inherit !important;
  }

  [data-domain="default"] .ph_bg__hero_gray,
  [data-domain="default"] .ph_bg__hero_green {
    background-color: transparent !important;
  }
}

/*! CSS Used from: https://www.planhub.ca/css/compiled/planhub2021-162.8.css ; media=all */
@media all {
  .provider_logo_item {
    display: flex;
    align-items: center;
  }

  .provider_logo_item img {
    min-width: auto;
    height: 50px;
    width: auto;
  }

  @media (max-width:300px) {
    .provider_logo_item img {
      margin-right: 0;
    }
  }

  .ph_reviews__score {
    color: #012737;
  }

  .ph_reviews__score a.reviews {
    text-decoration: underline;
  }

  .ph_reviews__score .ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #d6e2e8;
    overflow: hidden;
  }

  .ph_reviews__score .full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #f0946a;
  }

  .ph_reviews__score .empty-stars:before,
  .ph_reviews__score .full-stars:before {
    font-size: 12pt;
    font-weight: 700;
    content: "\2605\2605\2605\2605\2605";
  }

  .ph_block_btn {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .ph_block_btn .btn_basic {
    margin: 0 5px;
  }

  .section-reengagement {
    display: grid;
    padding: 112px 0;
    text-align: center;
  }

  .section-reengagement .ph_container__child {
    padding: 0 64px;
  }

  @media (max-width:900px) {
    .section-reengagement .ph_container__child {
      padding: 0 32px;
    }
  }

  @media (max-width:500px) {
    .section-reengagement .ph_container__child {
      padding: 0 15px;
    }
  }

  @media (max-width:768px) {
    .section-reengagement {
      padding: 50px 0;
    }
  }

  .section-top-plans .top-plans {
    max-width: 900px;
    margin: 0 auto;
  }

  @media (min-width:1000px) {
    .section-top-plans .top-plans .proposal_plans__box {
      grid-template-columns: auto auto;
    }
  }

  .section-top-plans .top-plans .provider_logo_item img {
    width: auto;
    min-width: auto;
    height: 40px;
  }

  .section-top-plans .top-plans .proposal_plans__details_items {
    margin: 4px;
  }

  .section-top-plans .top-plans .proposal_plans__box_price {
    column-gap: 15px;
  }

  .section-top-plans .top-plans .proposal_plans__box_price .btn {
    padding: 8px 12px;
  }

  .section-top-plans .top-plans_internet {
    max-width: 880px;
    text-align: left;
  }

  .section-top-plans .dropdown-menu {
    border-radius: 8px;
  }

  .placeholder-bg {
    cursor: progress;
    background: linear-gradient(.25turn, transparent, #fff, transparent), linear-gradient(#dddddd, #eee), radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%), linear-gradient(#eee, #eee);
    background-repeat: no-repeat;
    background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px;
    background-position: -315px 0, 0 0, 0 190px, 50px 195px;
    animation: skeleton-loading 2s infinite linear;
    border-radius: 10px;
  }

  .placeholder-logo {
    width: auto;
  }

  .placeholder-details-1 {
    width: 65%;
  }

  .placeholder-details-2 {
    width: 55%;
  }

  .placeholder-review {
    width: 75%;
  }

  .placeholder-price {
    width: 67px;
    height: 41px;
  }

  .placeholder-btn {
    width: 94px;
    height: 33px;
  }

  .hidden-img {
    opacity: 0;
  }

  .hidden-content {
    opacity: 0;
  }

  .ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #d6e2e8;
    overflow: hidden;
  }

  .proposal_plans sup {
    vertical-align: supper;
    font-size: x-small;
    line-height: inherit;
  }

  .proposal_plans__box {
    border: 1px solid #d6e2e8;
    padding: 20px 24px;
  }

  @media (min-width:1000px) {
    .proposal_plans__box {
      display: grid;
      grid-template-columns: auto minmax(auto, 150px);
      align-items: center;
      column-gap: 50px;
      margin-top: -1px;
    }

    .proposal_plans__box:first-child {
      border-radius: 16px 16px 0 0;
    }

    .proposal_plans__box:last-child {
      border-radius: 0 0 16px 16px;
    }

    .proposal_plans__box:only-child {
      border-radius: 16px;
    }
  }

  @media (max-width:1000px) {
    .proposal_plans__box {
      border-radius: 16px;
      margin-bottom: 8px;
    }
  }

  .proposal_plans__box_price {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8px;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }

  @media (max-width:1000px) {
    .proposal_plans__box_price {
      margin-top: 16px;
    }
  }

  .proposal_plans__box_price .heading4,
  .proposal_plans__box_price .heading6 {
    margin-bottom: 0;
  }

  .proposal_plans__box_price .price {
    position: relative;
  }

  @media (max-width:1000px) {
    .proposal_plans__box_price .price {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 5px;
      align-items: center;
    }
  }

  .proposal_plans__details_items {
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 10px;
    align-items: self-end;
    margin-bottom: 0;
  }

  .proposal_plans__details_items [class^=ph-icon-]:first-child {
    color: #79ce25;
  }

  @media (max-width:500px) {
    .proposal_plans__details_items {
      grid-template-columns: repeat(2, auto);
      row-gap: 5px;
    }
  }

  @media (min-width:1120px) {
    .proposal_plans .five_items {
      grid-template-columns: repeat(5, auto);
    }
  }

  @media (min-width:501px) and (max-width:1119px) {
    .proposal_plans .five_items {
      grid-template-columns: repeat(3, auto);
    }
  }

  @media (max-width:500px) {
    .proposal_plans .five_items {
      width: 100%;
    }

    .proposal_plans .five_items div:last-child {
      grid-row: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  #bestPlansDivHome .proposal_plans__box {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px 0 auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .15) 8px 8px 12px;
    background-color: #fff;
  }

  @media (prefers-color-scheme:dark) {
    #bestPlansDivHome .proposal_plans__box {
      background-color: unset;
    }
  }

  #bestPlansDivHome .proposal_plans__box_details {
    display: grid;
    align-content: center;
    padding-right: 5px;
  }

  @media (max-width:300px) {
    #bestPlansDivHome .proposal_plans__box_details {
      display: grid;
      align-content: center;
    }
  }

  @media (min-width:1024px) {
    #bestPlansDivHome .proposal_plans__box_details {
      padding-left: 20px;
      min-width: 200px;
    }
  }

  #bestPlansDivHome .proposal_plans__box_price {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
  }

  #bestPlansDivHome .proposal_plans__box_price .price {
    display: block;
    margin-bottom: 10px;
  }

  @media (min-width:1024px) {
    #bestPlansDivHome .proposal_plans__box_price {
      flex-direction: row;
    }
  }

  #bestPlansDivHome .proposal_plans__details_items {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: unset;
  }

  @media (min-width:1024px) {
    #bestPlansDivHome .proposal_plans__details_items {
      flex-direction: row;
    }
  }

  #bestPlansDivHome .section-top-plans {
    max-width: 1070px;
    margin: 0 auto;
    border-radius: 5px;
  }

  #bestPlansDivHome .section-top-plans__container {
    max-width: 900px;
    padding-top: 20px;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  @media (min-width:1024px) {
    #bestPlansDivHome .section-top-plans__container {
      padding: 20px;
    }
  }

  #bestPlansDivHome .section-reengagement {
    padding: 25px 0;
    text-align: left;
    margin-bottom: 25px;
  }

  #bestPlansDivHome .section-reengagement-home__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #bestPlansDivHome .internet-top-plans-cities {
    padding: 10px 25px 10px 5px;
  }
}

/*! CSS Used keyframes */
@keyframes skeleton-loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

/*! CSS Used fontfaces */
@font-face {
  font-family: 'icons-planhub';
  src: url('https://www.planhub.ca/css/fonts/icons-planhub/icons-planhub.eot?7oqqlq');
  src: url('https://www.planhub.ca/css/fonts/icons-planhub/icons-planhub.eot?7oqqlq#iefix') format('embedded-opentype'), url('https://www.planhub.ca/css/fonts/icons-planhub/icons-planhub.ttf?7oqqlq') format('truetype'), url('https://www.planhub.ca/css/fonts/icons-planhub/icons-planhub.woff?7oqqlq') format('woff'), url('https://www.planhub.ca/css/fonts/icons-planhub/icons-planhub.svg?7oqqlq#icons-planhub') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}



/*! CSS Used from: Embedded */
.paragraph2 {
  font-size: 16px;
  line-height: 22px;
  word-spacing: 2px;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #012737;
  text-decoration: none;
  box-sizing: border-box;
}

p {
  margin: 16px 0 0;
}

.btn_basic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
}

.btn_primary {
  color: #FFFFFF;
  background-color: #79CE25;
  border: 0;
}

.btn_primary:hover {
  background-color: #70BF22;
}

.btn_primary:focus,
.btn_primary:active {
  background-color: #5C9E1A;
}

.ph_center {
  text-align: center;
}

.icon {
  margin-left: 10px;
}

.co_container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background: transparent;
}

.ph_container__child {
  padding: 0 120px;
}

@media (max-width:1200px) {
  .ph_container__child {
    padding: 0 64px;
  }
}

@media (max-width:768px) {
  .ph_container__child {
    padding: 0 16px;
  }
}

@media (min-width:901px) {
  .grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
  }
}

.ph_spacer {
  padding: 40px 0;
}

@media (prefers-color-scheme:dark) {
  [data-domain="default"] body a:hover {
    color: #79CE25 !important;
  }

  [data-domain="default"] a.btn_primary:hover,
  [data-domain="default"] a.btn_primary:focus {
    color: #FFFFFF !important;
  }
}

/*! CSS Used from: https://www.planhub.ca/css/compiled/planhub2021-162.8.css ; media=all */
@media all {
  .glyphicon {
    position: relative;
    top: 2px;
    display: inline-flex;
    font-family: glyphicons halflings;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 18px;
  }

  .glyphicon-bell:before {
    content: "\e123";
  }

  .ph-mobile-alert .responsive-img {
    width: 71px;
    height: 165px;
  }

  @media only screen and (max-width:600px) {
    .ph-mobile-alert .responsive-img {
      width: 50px;
      height: 115px;
    }
  }

  @media only screen and (max-width:480px) {
    .ph-mobile-alert .responsive-img {
      width: 38px;
      height: 85px;
    }
  }

  .ph-mobile-alert .arrow {
    width: 38px;
  }

  @media (prefers-color-scheme:dark) {
    .ph-mobile-alert .ph_container__child .paragraph2 {
      color: #000;
    }
  }

  .layout-alert {
    background: #f1ffe2;
    padding-top: 15px;
    margin-top: 30px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, .25);
    border-radius: 6px;
    padding-bottom: 20px;
  }

  .wide-padded {
    width: 75%;
    padding-bottom: 20px;
  }

  .container-btn-a {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .layout-alert {
    background: #f1ffe2;
    padding-top: 15px;
    margin-top: 30px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, .25);
    border-radius: 6px;
    padding-bottom: 20px;
  }

  .wide-padded {
    width: 75%;
    padding-bottom: 20px;
  }

  .container-btn-a {
    display: flex;
    justify-content: center;
    align-items: center;
  }


}

/*! CSS Used fontfaces */
@font-face {
  font-family: glyphicons halflings;
  src: local(Glyphicons Halflings), url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.eot);
  src: local(Glyphicons Halflings), url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff) format('woff'), url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
  font-display: swap;
  advance-override: 0;
  ascent-override: 95%;
  descent-override: 40%;
}





/*! CSS Used from: Embedded */
h1,
.heading1 {
  font-size: 44px;
  line-height: 56px;
  word-spacing: 7px;
  margin: 0 0 16px;
}

h2 {
  font-size: 36px;
  line-height: 49px;
  word-spacing: 5px;
  margin: 0 0 16px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
  word-spacing: 3px;
  margin: 0 0 16px;
}

.normal {
  font-weight: 400;
}

.paragraph1 {
  font-size: 18px;
  line-height: 24px;
  word-spacing: 2px;
}

.paragraph2 {
  font-size: 16px;
  line-height: 22px;
  word-spacing: 2px;
}

@media (max-width:500px) {
  .heading1 {
    font-size: 22px;
    line-height: 30px;
    word-spacing: 3px;
    font-weight: bold;
  }

  .paragraph1 {
    font-size: 16px;
    line-height: 22px;
    word-spacing: 2px;
  }

  h1 {
    font-weight: normal !important;
  }

  .heading1 {
    font-weight: bold !important;
  }
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #012737;
  text-decoration: none;
  box-sizing: border-box;
}

p {
  margin: 16px 0 0;
}

input {
  font-size: 14px;
  padding: 0;
}

.ph_link {
  color: #79CE25;
  font-style: normal;
  font-weight: bold;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
}

.ph_link:hover {
  color: #70BF22;
}

.ph_link:focus,
.ph_link:active {
  color: #5C9E1A;
}

.subtitle {
  color: #6B7980;
}

.hide {
  display: none;
}

.ph_container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background: transparent;
}

.ph_container__child {
  padding: 0 120px;
}

@media (max-width:1200px) {
  .ph_container__child {
    padding: 0 64px;
  }
}

@media (max-width:768px) {
  .ph_container__child {
    padding: 0 16px;
  }
}

.ph_spacer {
  padding: 40px 0;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.ph_accordion {
  border-bottom: .5px solid #D6E2E8;
}

.ph_accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: all .35s;
}

.ph_accordion .content a:hover,
.ph_accordion .content a:focus,
.ph_accordion .content a:active {
  text-decoration: none;
}

.ph_accordion>input[type="checkbox"]:checked~.content {
  height: auto;
  overflow: visible;
  padding-bottom: 35px;
}

.ph_accordion .handle label {
  display: grid;
  grid-template-columns: auto 56px;
  cursor: pointer;
  padding: 32px 0 16px;
}

.ph_accordion .handle label:after {
  font-family: 'icons-planhub' !important;
  content: "\e914";
  text-align: right;
  font-size: .8em;
  color: #79CE25;
}

.ph_accordion>input[type="checkbox"]:checked~.handle label:after {
  content: "\e912";
}

.ph_accordion:last-child {
  border-bottom: 0;
}

@media (prefers-color-scheme:dark) {
  [data-domain="default"] body .subtitle {
    color: #FFFFFF !important;
  }

  [data-domain="default"] body a:hover,
  [data-domain="default"] body .ph_accordion a {
    color: #79CE25 !important;
  }
}

/*! CSS Used from: https://www.planhub.ca/css/compiled/planhub2021-162.13.css ; media=all */
@media all {
  #privacy h3 {
    padding-top: 24px;
  }
}

/*! CSS Used fontfaces */
@font-face {
  font-family: 'icons-planhub';
  src: url('https://www.planhub.ca/css/fonts/icons-planhub/icons-planhub.eot?7oqqlq');
  src: url('https://www.planhub.ca/css/fonts/icons-planhub/icons-planhub.eot?7oqqlq#iefix') format('embedded-opentype'), url('https://www.planhub.ca/css/fonts/icons-planhub/icons-planhub.ttf?7oqqlq') format('truetype'), url('https://www.planhub.ca/css/fonts/icons-planhub/icons-planhub.woff?7oqqlq') format('woff'), url('https://www.planhub.ca/css/fonts/icons-planhub/icons-planhub.svg?7oqqlq#icons-planhub') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}